<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lonecloud.market.dao.UserMapper">
    <resultMap id="BaseResultMap" type="cn.lonecloud.market.pojo.User">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="email" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="question" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="answer" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="role" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="loginCount" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="create_ip" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="last_ip" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, username, password, email, phone, question, answer, role, create_time, update_time, 
    loginCount, create_ip, last_ip
  </sql>
    <select id="checkUsername" parameterType="string" resultType="int">
        select count(1) from sys_user where username=#{username,jdbcType=VARCHAR}
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectLogin" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="Base_Column_List"/>
        from sys_user
        where username=#{username}
        and password =#{password}
    </select>
    <select id="checkEmail" resultType="java.lang.Integer">
        select count(1) from sys_user where email=#{email,jdbcType=VARCHAR}
    </select>
    <select id="getForgetProblem" resultType="java.lang.String" parameterType="string">
      select
        question
      from sys_user
      where username=#{username}
    </select>
    <select id="checkAnswer" resultType="java.lang.Integer" parameterType="map">
        SELECT count(1)
        from sys_user
        WHERE
        username=#{username}
        and question=#{question}
        and answer=#{answer}
    </select>
    <select id="checkPassword" parameterType="map" resultType="int">
      SELECT COUNT(1)
        from sys_user
        WHERE
        password=#{password}
        and
        id=#{userId}
    </select>
    <select id="getUserByEmail" resultType="cn.lonecloud.market.pojo.User">
        SELECT
        <include refid="Base_Column_List"></include>
        from sys_user
        where email=#{email}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="cn.lonecloud.market.pojo.User">
    insert into sys_user (id, username, password, 
      email, phone, question, 
      answer, role, create_time, 
      update_time, loginCount, create_ip, 
      last_ip)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{question,jdbcType=VARCHAR}, 
      #{answer,jdbcType=VARCHAR}, #{role,jdbcType=INTEGER}, now(),
      now(), #{logincount,jdbcType=BIGINT}, #{createIp,jdbcType=VARCHAR},
      #{lastIp,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="cn.lonecloud.market.pojo.User">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="question != null">
                question,
            </if>
            <if test="answer != null">
                answer,
            </if>
            <if test="role != null">
                role,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="logincount != null">
                loginCount,
            </if>
            <if test="createIp != null">
                create_ip,
            </if>
            <if test="lastIp != null">
                last_ip,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="question != null">
                #{question,jdbcType=VARCHAR},
            </if>
            <if test="answer != null">
                #{answer,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                #{role,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                now(),
            </if>
            <if test="updateTime != null">
                now(),
            </if>
            <if test="logincount != null">
                #{logincount,jdbcType=BIGINT},
            </if>
            <if test="createIp != null">
                #{createIp,jdbcType=VARCHAR},
            </if>
            <if test="lastIp != null">
                #{lastIp,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.lonecloud.market.pojo.User">
        update sys_user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="question != null">
                question = #{question,jdbcType=VARCHAR},
            </if>
            <if test="answer != null">
                answer = #{answer,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                role = #{role,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = now(),
            </if>
            <if test="logincount != null">
                loginCount = #{logincount,jdbcType=BIGINT},
            </if>
            <if test="createIp != null">
                create_ip = #{createIp,jdbcType=VARCHAR},
            </if>
            <if test="lastIp != null">
                last_ip = #{lastIp,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.lonecloud.market.pojo.User">
    update sys_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      question = #{question,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      role = #{role,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now(),
      loginCount = #{logincount,jdbcType=BIGINT},
      create_ip = #{createIp,jdbcType=VARCHAR},
      last_ip = #{lastIp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="forgetResetPwd" parameterType="map">
        UPDATE sys_user
          SET password=#{md5Pwd},update_time=now()
          where username=#{username}
    </update>

</mapper>